In [1]:
import pandas as pd

In [49]:
header = ["time","value1"]
date_aug = "31.08.2022"
date_sep1 = "01.09.2022"
date_sep2 = "15.09.2022"
date_sep3 = "17.09.2022"
date_oct = "03.10.2022"

In [47]:
SGP30_0109 = pd.read_csv("01092022/Messung_SGP30_01_09_2022.txt", header = None, delimiter=" ")
SGP40_0109 = pd.read_csv("01092022/Messung_SGP40_01_09_2022.txt", header = None, delimiter=" ")
ZMOD_0109 = pd.read_csv("01092022/Messung_ZMOD_01_09_2022.txt", header=None, delimiter=" ")

SGP30_3108 = pd.read_csv("31082022/Messung_SGP30_31_08_2022.txt", header=None, delimiter=" ")
SGP40_3108 = pd.read_csv("31082022/Messung_SGP40_31_08_2022.txt", header = None, delimiter=" ")
ZMOD_3108 = pd.read_csv("31082022/Messung_ZMOD_31_08_2022.txt", header=None)

In [45]:
SGP30_0109.head()

                         0          1        2       3        4  5
0      01.09.2022 18:44:12  172614752  2356815  654208  2362347  1
1      01.09.2022 18:44:12  171137568  2357737  656000  2351297  1
2      01.09.2022 18:44:12  171539200  2373446  660370  2362347  1
3      01.09.2022 18:44:12  171472144  2394866  667111  2370665  1
4      01.09.2022 18:44:12  172344992  2423096  675239  2393930  1

In [46]:
ZMOD_0109.head()

          0    1  2  3  4        5
0  18:44:11  0.0  0  0  1  Warmup!
1  18:44:09  0.0  0  0  1  Warmup!
2  18:44:07  0.0  0  0  1  Warmup!
3  18:44:05  0.0  0  0  1  Warmup!
4  18:44:03  0.0  0  0  1  Warmup!

In [25]:
SGP30_0109.iloc[0,0]="01.09.2022 " + SGP30_0109.iloc[0,0]

In [42]:
def add_date(df, date_string):
    """Adds the datestring to the first column in dataframe. Does not create a separate column"""
    for i in range(len(df)): 
        #print(df.iloc[i,0])
        date_string.strip()
        df.iloc[i,0]= date_string + " " + df.iloc[i,0]

In [27]:
len(SGP30_0109)

51131

In [48]:
add_date(SGP30_0109, "01.09.2022")
add_date(SGP40_0109, "01.09.2022")
add_date(ZMOD_0109, "01.09.2022")